<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ams.dao.admin.CompetitionMapper" >
    <resultMap type="com.ams.entities.admin.CompetitionInfo" id="competitionMap">
        <!-- 主键必须用id标签映射 -->
        <id column="COM_ID" property="id"  jdbcType="NUMERIC"/>
        <!-- column为数据库字段名,property为实体类属性名 -->
        <result column="CREATE_TIME" property="createTime"  jdbcType="TIMESTAMP"/>
        <result column="COM_VALUE" property="comValue"  jdbcType="NUMERIC"/>
        <result column="STATUS" property="status"  jdbcType="VARCHAR"/>
        <association property="userInfo" column="ACCT_ID" javaType="com.ams.entities.admin.UserInfo">
            <id column="ACCT_ID" property="id" jdbcType="NUMERIC"/>
            <result column="USER_NAME" property="userName" jdbcType="VARCHAR"/>
        </association>
        <association property="productInfo" column="PRODUCT_ID" javaType="com.ams.entities.admin.ProductInfo">
            <id column="PRD_ID" property="id" jdbcType="NUMERIC"/>
            <result column="PRD_NAME" property="name" jdbcType="VARCHAR"/>
            <result column="TYPE" property="type" jdbcType="VARCHAR"/>
        </association>
    </resultMap>

    <select id="competitionQueryPage" parameterType="java.util.Map" resultMap="competitionMap">
        select t.*, u.USER_NAME, p.PRD_NAME, p.TYPE
        from T_COMPETITION t left outer join B_ACCOUNT u on t.ACCT_ID = u.ACCT_ID
        left outer join T_PRODUCT p ON t.PRODUCT_ID=p.PRD_ID
        WHERE 1=1
        <if test="acctId != null">
            AND (t.ACCT_ID=#{acctId} )
        </if>
    </select>


    <insert id="insertCompetition" parameterType="com.ams.entities.admin.CompetitionInfo" >
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            select SEQ_AMS.Nextval from dual
        </selectKey>
        insert into T_COMPETITION (COM_ID, PRODUCT_ID,COM_VALUE, STATUS, ACCT_ID, CREATE_TIME)
        values (#{id}, #{productInfo.id},#{comValue}, #{status}, #{userInfo.id}, #{createTime})
    </insert>
</mapper>