<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ams.dao.admin.UserMapper" >
    <resultMap type="com.ams.entities.admin.UserInfo" id="userMap">
        <!-- 主键必须用id标签映射 -->
        <id column="ACCT_ID" property="id" jdbcType="NUMERIC"/>
        <!-- column为数据库字段名,property为实体类属性名 -->
        <result column="ACCT_NAME" property="acctName" jdbcType="VARCHAR" />
        <result column="USER_NAME" property="userName" jdbcType="VARCHAR"/>
        <result column="FULL_NAME" property="fullName" jdbcType="VARCHAR" />
        <result column="ACCT_PWD" property="password"  jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="GENDER" property="gender" jdbcType="NUMERIC"/>
        <!--<result column="BIRTHDAY" property="birthday" jdbcType="DATE"/>-->
        <result column="EMAIL" property="email" jdbcType="VARCHAR"/>
        <result column="PHONE" property="phone" jdbcType="VARCHAR"/>
        <result column="DEL_STATE" property="delState" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="userQueryPage" parameterType="java.util.Map" resultMap="userMap">
        select *
        from B_ACCOUNT u
        WHERE  1=1 AND u.DEL_STATE='A'
            <if test="name!=null and name !=''">
              AND u.ACCT_NAME LIKE '%'||#{acctName}||'%'
            </if>
            <if test="acctName!=null and acctName !=''">
                AND u.ACCT_NAME LIKE '%'||#{acctName}||'%'
            </if>
            <if test="userName!=null and userName !=''">
                AND u.USER_NAME LIKE '%'||#{userName}||'%'
            </if>
    </select>
    <insert id="insertUser" parameterType="com.ams.entities.admin.UserInfo" >
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            select SEQ_AMS.nextval  from dual
        </selectKey>
        insert into B_ACCOUNT (ACCT_ID, ACCT_NAME, USER_NAME, FULL_NAME, ACCT_PWD, STATUS, GENDER, EMAIL, PHONE, DEL_STATE)
        values(#{id}, #{acctName}, #{userName},#{fullName, jdbcType=VARCHAR},#{password},#{status},#{gender, jdbcType=VARCHAR},#{email},#{phone}, #{delState})
    </insert>
    <select id="getUser" parameterType="com.ams.entities.admin.UserInfo" resultMap="userMap">
        SELECT * FROM b_account t WHERE t.ACCT_NAME=#{acctName} AND t.DEL_STATE='A'
        <if test="id != null">
            AND t.ACCT_ID != #{id}
        </if>
    </select>

    <select id="getUserById" parameterType="java.lang.Integer" resultMap="userMap">
        SELECT * FROM b_account t WHERE t.ACCT_ID=#{id}
    </select>
    <update id="updateUser" parameterType="com.ams.entities.admin.UserInfo">
        UPDATE b_account
        SET USER_NAME=#{userName, jdbcType=VARCHAR},FULL_NAME=#{fullName, jdbcType=VARCHAR},STATUS=#{status, jdbcType=VARCHAR},GENDER=#{gender, jdbcType=NUMERIC},
        EMAIL=#{email, jdbcType=VARCHAR},PHONE=#{phone, jdbcType=VARCHAR}
        WHERE ACCT_ID=#{id}
    </update>
    <update id="deleteUser">
        UPDATE b_account set DEL_STATE='D' WHERE ACCT_ID  in
        <foreach collection="array" item="id" open="(" separator="," close=")">#{id}</foreach>
    </update>
    <delete id="clearAcctDuty" parameterType="java.lang.Integer">
        DELETE  FROM b_account_duty WHERE acct_id=#{id}
    </delete>
    <insert id="insertAcctDuty" parameterType="java.util.List" >
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            select SEQ_AMS.nextval  from dual
        </selectKey>
        insert into b_account_duty (ACC_DUTY_ID, DUTY_ID, ACCT_ID)
         SELECT SEQ_AMS.nextval, a.* FROM (
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT #{item.dutyId},#{item.accountId} FROM  dual
        </foreach>) a
    </insert>
    <select id="isAdminUser" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT count(1) FROM b_account_duty t WHERE t.ACCT_ID=#{id}
        AND t.DUTY_ID=1
    </select>
    <update id="modifyPassword" parameterType="com.ams.entities.admin.UserInfo">
        UPDATE b_account SET ACCT_PWD=#{password} WHERE ACCT_ID=#{id}
    </update>
</mapper>