<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tms.dao.FavoritesMapper" >
    <resultMap type="com.tms.entities.FavoritesInfo" id="favoritesMap">
        <!-- 主键必须用id标签映射 -->
        <id column="ID" property="id"  jdbcType="NUMERIC"/>
        <!-- column为数据库字段名,property为实体类属性名 -->
        <result column="CREATE_TIME" property="createTime"  jdbcType="TIMESTAMP"/>
        <association property="userInfo" column="ACCT_ID" javaType="com.tms.entities.UserInfo">
            <id column="ACCT_ID" property="id" jdbcType="NUMERIC"/>
            <result column="USER_NAME" property="userName" jdbcType="VARCHAR"/>
        </association>
        <association property="productInfo" column="PRODUCT_ID" javaType="com.tms.entities.ProductInfo">
            <id column="PRD_ID" property="id" jdbcType="NUMERIC"/>
            <result column="PRD_NAME" property="name" jdbcType="VARCHAR"/>
            <result column="PRD_ORGANIZATION" property="organization" jdbcType="VARCHAR"/>
            <result column="START_DATE" property="startDate" jdbcType="DATE" />
            <result column="END_DATE" property="endDate"  jdbcType="DATE"/>
            <result column="ADDR" property="addr" jdbcType="VARCHAR" />
            <result column="LINKMAN" property="linkman" jdbcType="VARCHAR" />
            <result column="AREA" property="area" jdbcType="VARCHAR"/>
            <result column="CONTENT" property="content" jdbcType="VARCHAR"/>
            <result column="TELEPHONE" property="telephone" jdbcType="VARCHAR"/>
            <result column="PRICE_UNIT" property="priceUnit" jdbcType="VARCHAR"/>
            <result column="ZIP_CODE" property="zipCode" jdbcType="VARCHAR"/>
            <result column="TYPE" property="type" jdbcType="VARCHAR"/>
            <result column="STATUS" property="status" jdbcType="VARCHAR"/>
            <result column="ADD_DATE" property="addDate" jdbcType="TIMESTAMP"/>
            <result column="EDIT_DATE" property="editDate" jdbcType="TIMESTAMP"/>
        </association>
    </resultMap>

    <select id="favoritesQueryPage" parameterType="java.util.Map" resultMap="favoritesMap">
        select t.*, u.USER_NAME, p.*
        from T_FAVORITES t left outer join B_ACCOUNT u on t.ACCT_ID = u.ACCT_ID
        left outer join T_PRODUCT p ON t.PRODUCT_ID=p.PRD_ID
        WHERE 1=1
        <if test="acctId != null">
            AND (t.ACCT_ID=#{acctId} )
        </if>
    </select>


    <insert id="insertFavorites" parameterType="com.tms.entities.FavoritesInfo" >
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            select SEQ_AMS.Nextval from dual
        </selectKey>
        insert into T_FAVORITES (ID, ACCT_ID,PRODUCT_ID, CREATE_TIME)
        values (#{id}, #{userInfo.id},#{productInfo.id}, #{createTime})
    </insert>

    <delete id="deleteFavorites">
        delete from T_FAVORITES where ID in
        <foreach collection="array" item="id" open="(" separator="," close=")">#{id}</foreach>
    </delete>
    <select id="getTotalFavorites" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM T_FAVORITES t where t.PRODUCT_ID=#{productId}
    </select>
</mapper>